.section {
    height: 100vh;
    padding: 2.1429rem 6.8571rem;
    box-sizing: border-box;
    min-height: 600px;

    &Main {
        background: url('/bg/screen_1_bg.jpg') center no-repeat no-repeat;
        background-size: cover;
    }
}

.header{
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 2.2857rem;
}