.section {
    height: 100vh;
    padding: 2.1429rem 6.8571rem;
    box-sizing: border-box;
    min-height: 600px;

    &Main {
        background: url('/bg/screen_1_bg.jpg') center no-repeat no-repeat;
        background-size: cover;
    }

}